.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.sponsor-image img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
}

.sponsor-content {
    margin-top: 1rem;
}

.sponsor-content h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #71e5ff;
}

.sponsor-content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 950px) {
    .sponsor {
        flex-direction: row;
    }

    .sponsor-image {
        margin: 0 1rem;
    }

    .sponsor-content {
        margin-top: 0;
    }
}
